.tableContainer {
    width: 86vw;
    float: right;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.historyTable {
    width: 70%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #f8f8ff;
}

.historyTable thead th{
    border-top: white;
    border-width: thin;
    border-style: solid;
    border-right: gray;
}

.historyTable tbody tr{
    border-bottom: 1px solid white;
}

.historyTable td {
    margin: 0;
    padding: 0;
    text-align: center;
    border-width: thin;
    border-style: solid;
    border-color: white;
}

.historyTable tbody td img{
    vertical-align: bottom;
    width: 2.5vw;
    margin: 0;
    padding: 0;
}