.artifactListPage {
    width: 75vw;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    float: right;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

.artifactListPage img {
    width: 8vw;
}

.artifactListPage p {
    color: black;
    margin: 0% 1%;
}