@font-face {
  font-family: 'gs_font';
  src:  url('./static/fonts/font.woff2') format('woff2'),
        url('./static/fonts/font.woff') format('woff'),
        url('./static/fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Global Styles*/
* {
  font-family: 'gs_font', 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots-jump-up {
  40% {
    transform: translate(0, 19px);
  }
}

@keyframes emote-jump-up {
  40% {
    transform: translate(0, 17px);
  }
}

/*App*/
.genshinSphereApp {
  background-image: url("../src/static/images/background.png");
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}

/*NavBar Container*/
.navContainer {
  display: flex;
  flex-direction: row;
}

/*Content Container*/
.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Loading Screen*/
.loadingScreen {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(21, 61, 24)), url("static/images/background.png");
  background-blend-mode: saturation;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.loadingImg {
  width: 12vw;
  animation: dots-jump-up 0.9s normal infinite;
}

.dot {
  background-color: hsl(0, calc(var(--order) * 15%), 35%);
  box-shadow: 0rem 0rem 0rem .2rem hsl(0, calc(var(--order) * 15%), 41%);
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  margin: 1%;
  margin-top: 9%;
  animation: dots-jump-up 0.9s normal infinite;
  animation-delay: calc(var(--order) * 100ms);
  z-index: 99;
}