.App {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;
}

.loading {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 20s linear;
  }
}

/* F0FCFF */
@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.genshinSphereApp {
  background-image: url("../src/images/background.png");
  overflow: hidden;
}