p {
    color: black;
}

.homepage {
    width: 85vw;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding: 5% 0;
    pointer-events:auto;
    /* border: 5px solid orange; */
}

/*Main Content Containers*/
.mainContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 5px solid orange; */
}

.info {
    display: flex;
    width: 60%;
    justify-content: center;
    /* border: 3px solid black; */
}

.embeds {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2%;
    /* border: 3px solid rgb(82, 70, 47); */
}

/*Shop*/
.shopSection {
    border: 1px solid black;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.shopHeader {
    text-align: center;
    padding: 2%;
}

/*Shop Item Rows*/
.currentItems {
    display: flex;
    flex-direction: row;
    /* border: 5px solid orange; */
}

.shopItemDetails {
    /* border: 1px solid black; */
    width: 6vw;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentItems img {
    height: 5vw;
    border: 1px solid black;
}

.currentItems p {
    font-size: 0.7rem;
    font-family: 'Poppins';
    text-align: center;
}

 /*Twitter Embeds*/
.twitter-embed {
    height: 65vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7.5px solid rgba(200,198,198, 0.6);
    border-radius: 15px;
    box-shadow: .2rem .2rem 1rem grey;
    background-color: #FFFFFF;
    margin: 6%;
}

.twitter-embed div {
    height: 100%;
    width: 100%;
}

.twitter-header {
    width: 100%;
    padding: 1% 0 2.5%;
    font-size: 0.9rem;
    text-align: center;
}

.twitter-header img {
    width: 2vw;
    vertical-align: text-bottom;
}

 /*Youtube Section*/
.youtube-embed {
    background-color: rgba(200,198,198, 0.2);
    box-shadow: .2rem .2rem 1rem grey;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 3% 3%;
}

.youtube-embed iframe {
    border: none;
    margin: 0% 6% 6%;
    width: 88%;
    aspect-ratio: 16/9;
    box-shadow: .2rem .2rem 1rem grey;
}

.youtube-embed p {
    width: 100%;
    text-align: center;
    margin: 4% 0%;
    font-weight: 500;
    font-size: 1.8rem;
}