.navHeader {
    background-color: rgba(75,101,135, 1);
    height: 100%;
    width: 14.5vw;
    box-shadow: .2rem .2rem 1rem grey;
    opacity: 90%;
    pointer-events: auto;
}

.navBar {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.navBarItem {
    text-align: center;
    padding: 1.5% 0;
    width: 100%;
}

.subMenuDiv {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.dropDownItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBarItem span {
    margin-left: 5px;
}

.navBarItem:hover {
    transition: 0.15s ease-in;
    background-color: #385070;
}