/*Character Cards*/
.characterCard {
    display: flex;
    width: 20vw;
    flex-direction: row;
    margin-top: 3%;
    border: 1px solid black;
    img {
        height: 20vh;
    }
}

.characterText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    color: black;
}