/*Character List Directory*/
.characterListPage {
    display: flex;
    flex-direction: column;
}

.characterListPage h1 {
    margin: 2%;
}

/*Main Content*/
.characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}


/*Character Cards*/
.characterCard {
    margin-top: 3%;
    width: 25%;
    border: 1px solid black;
}

.characterDetails {
    display: flex;
    padding: 0;
}

.characterDetails img {
    height: 20vh;
    padding: 0;
}

.characterText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    color: black;
}

.characterText p {
    margin: 0;
    padding: 0;
}