p {
    margin: 0;
    padding: 0;
}

.characterListPage {
    /* border: 1px solid black; */
    margin: auto;
    /* background: brown; */
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

.characterCard {
    margin-top: 3%;
    width: 25%;
    border: 1px solid black;
    /* background: yellow; */
}

.characterDetails {
    display: flex;
}

.characterDetails img {
    height: 20vh;
    padding: 0;
}


.characterText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    /* border: 1px solid black; */
    color: black;
}