/*Weapon List Directory Page*/
.weaponListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5%;
}

/*Main Content*/
.weaponList {
    width: 65vw;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weaponListPage img {
    height: 40vh;
}

.weaponListPage p {
    margin: 0% 1%;
}

/*Weapon Filters*/
.filter-tabs {
}