/*Weapon Header*/
.weaponHeader {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .imageContainer {
        width: 40vw;
        border: 1px solid black;
        img {
            width: 100%;
        }
    }
    .filter-tabs {
        flex-direction: column;
        width: fit-content;
        position: absolute;
        .filterTab {
            width: fit-content;
            min-width: 5vw;
            font-size: 0.8rem;
            background:hsla(0, 16%, 77%);
            padding: 3% 0%;
            margin-top: 3%;
            z-index: 99;
        }
        .filterTab::before {
            content:"";
            position: absolute;
            height: 50%;
            background:hsla(0, 16%, 77%);
            top: 0;
            transform: skew(45deg);
            transform-origin:top;
            z-index: -1;
        }
        .filterTab::after {
            content: "";
            position: absolute;
            height: 50%;
            background:hsla(0, 16%, 77%);
            bottom:0;
            transform: skew(-45deg);
            transform-origin:bottom;
            z-index: -1;
        }
    }
}

table {
    border: 1px solid black;
}