/*Weapon Cards*/
.weaponCard {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
    margin-top: 3%;
    img {
        height: 20vh;
    }
}

.weaponListPage p {
    margin: 0% 1%;
}