.homepage {
    width: 85vw;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid orange;
}

.twitter-embed {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}